@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #394359;
}

.theme-color {
  background-color: #394359;
}

.border.green {
  border: 1px solid green;
}

.border.red {
  border: 1px solid red;
}

.border.pink {
  border: 1px solid pink;
}

/* Navbar */
.navbar {
  padding: 5px;
  position: absolute;
  z-index: 1;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar .variant {
  font-family: 'Montserrat Alternates', sans-serif;
  text-transform: uppercase;
}

/* Login */
.lead {
  font-family: 'Montserrat', sans-serif !important;
  color: white !important;
}
#login-dashboard {
  background: url('./img/login-background.png') no-repeat center center/cover;
}

.full-height {
  height: 100vh;
}
