@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat+Alternates:ital,wght@1,500&display=swap');

.navbar {
  /* background-color: #dc143c; */
  padding: 5px;
  position: fixed;
  z-index: 1;
  /* border-bottom: 1px solid black; */
  /* opacity: 0.7; */
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar .head {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
}

.navbar .variant {
  font-family: 'Montserrat Alternates', sans-serif;
  text-transform: uppercase;
  color: #f50057;
}

.theme-color {
  background-color: #9370db;
}

.fullheight {
  height: 100vh;
}
