@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #394359;
}

.theme-color {
  background-color: #394359;
}

.secondary-color {
  color: #f50057;
  font-weight: bold;
}

.border.green {
  border: 1px solid green;
}

.border.red {
  border: 1px solid red;
}

.border.pink {
  border: 1px solid pink;
}

/* Navbar */
.navbar {
  padding: 5px;
  position: absolute;
  z-index: 1;
}

a {
  color: white;
  text-decoration: none;
}

.navbar .variant {
  font-family: 'Montserrat Alternates', sans-serif;
  text-transform: uppercase;
}

/* Login */
.lead {
  font-family: 'Montserrat', sans-serif !important;
  color: white !important;
}
#login-dashboard {
  background: url('./img/login-background.png') no-repeat center center/cover;
}

.full-height {
  height: 100vh;
}

/* Dashboard */
#dashboard-lead {
  font-family: 'Architects Daughter', cursive;
  color: white;
  opacity: 0.9;
}

.table-rows {
  cursor: pointer;
}

.table-rows:hover {
  background-color: #ffcccb;
}

.table-rows.disabled {
  cursor: default;
  background-color: #dddddd;
}

/* Small screen */
@media only screen and (max-width: 600px) {
  #edit-button-container {
    height: 150px;
  }
}
